.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 0px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.cart-container{
    position: fixed;
    right: 0px;
    background-color: rgb(253, 234, 208);
    margin-top: 50px;
    border-radius: 15px;
    padding: 5px;
    margin-right: 15px;
    font-family: 'Lato';
    font-style: normal;
}
.cart-container:hover{
    transform: scale(1.1);
    transition: ease-in-out.5s;
}
.order-summary{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 2px;
}
@media screen and (max-width:1200px){
    .products-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

