.product{
    width: 220px;
    height: 405px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    position: relative;
    margin-top: 50px;
    background-color: rgba(210, 105, 30, 0.493);
    margin-left: 20px;
    border: none;
}
.product:hover{
    transform: scale(1.1);
   transition: ease-in-out.5s;
   background-color: rgba(244, 165, 96, 0.87);
   border: 1px solid;
    box-shadow: 5px 10px #88888871;
    border:none;
}
.product img{
    width: 93%;
    height: 150px;
    border-radius: 8px;
    padding: 8px;
}
/* .product img:hover{
    opacity:.3
} */
.product-info{
    margin: 7px;
    margin-top: -15px;
}
.product-info p{
    margin-bottom: 7px;
    margin-top: -9px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
}
.btn-field{
    width: 100%;
    position: absolute;
    margin-bottom: 0px;
    height: 48px;
    background-color: #FFE0B3;
    border-radius: 0px 0px 8px 8px;
    border: none;
    bottom: 0;
    
}
.btn-field:hover{
    background-color: #282c34d2;
    font-size: large;
    font-weight: 700px;
    color:white;
}
