.header{
    background-color: #1C2B35;
    height: 80px;
    padding-left: 4.1rem;
    padding-right: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    position: sticky;
    top:0px; 
    Z-index:1;
}
.header a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
    font-size: 17px;
}
.header a:hover{
    color:burlywood;
    background-color: rgb(95, 112, 160);
    border-radius: 10px;
    padding: 5px;
}